/History/*
/__Previews/*
/master_board/History/*
/slave_board/History/*
/slave_board/Project Logs for Netscale48HD_Sensorbar/*
/master_board/Project Logs for Netscale48HD_Sensorbar/*
/slave_board/__Previews/*
/master_board/__Previews/*
/Project Outputs for Netscale48HD_Sensorbar/*
/Project Outputs for Netscale48HD_Sensorbar_Master/*